<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js" integrity="sha512-pzH48Du/nTeqwQCGAND2+vKnF0LKKmD8NwDlGGeJPiCbm3E813ndGQZBqoUBWyD/b/tnzKDggSboccE1+XwYSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.js" integrity="sha512-pmaEGtUAy7E5gRmwjLqQAD/QWw0dL4Z59b6b+2HQkqQwQ+HcPLLb9/KbUNo5zr10WuXmbivK9nYVZOyDkMgZMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
    <title>Title</title>
</head>
<body>
{#{% verbatim %}#}
{#<div class="container" id="comp_work">#}
{#    #}
{#    <div v-for="order in dat">#}
{#        id = {{ order.id }}#}
{#        title = {{ order.title }}#}
{#        description = {{ order.description }}#}
{#        <img src=order.overall_plan>#}
{#        overall_plan = {{ order.overall_plan }}#}
{# #}
{#        <br>#}
{#        #}
{#    </div>#}
{#    #}
{#</div>#}
{#{% endverbatim %}#}
<div>
    <a href="http://127.0.0.1:8000/completed_work/">Главная</a>
</div>
<br>
<div>
    
    {% for resp in response %}
    {{ resp.title }}<br>
    {{ resp.description}}<br>
    <img src="{{ resp.overall_plan }}" alt="No IMG">    
    <br>
    {{ resp.overall_plan }}    
    <br>
    {% endfor %}
    
</div>



<script src="/static/js/comp_work.js"></script>
</body>
</html>